// Font Family
$inter: "Inter", sans-serif;
$ibm-plex-sans: "IBM Plex Sans", sans-serif;
$kallisto: 'Kallisto';


// Colors
$white: #ffffff;
$dark-white: #D7D7D7;
$grey: #818181;
$black: #1B1B1B;
$orange: #FF892E;


// Responsive Variables
$xxl: '(max-width: 1730px)';
$xl: '(min-width: 1200px)';
$lg : '(min-width: 992px) and (max-width: 1199px)';
$md: '(max-width: 991px)';
$sm: '(max-width: 767px)';
$xs: '(max-width: 575px)';
